<div>
  <!--Espacio del menú para pruebas-->
  <!--div style="height: 47px;"></div-->
  
  <table width="756px" border="0" cellspacing="0">
    <tbody>
      <tr>
        <td rowspan="4" colspan="2">
          <img [src]="logo" class="rpt-img">
        </td>
        <td colspan="4" align="center">
          <div class="rpt-label">
            <span class="center; rpt-font-9-b">{{titulo}}</span>
          </div>          
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">
          <div class="rpt-label">
            <span class="center; rpt-font-9-b">{{subTitulo}}</span>
          </div>          
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center" style="height: 24px;">
          <div class="rpt-label">
            <span class="center; rpt-font-10-b">FORMATO DE SELECCIÓN DEL DONANTE</span>
          </div>          
        </td>
      </tr>
      <tr>
        <td width="20px" rowspan="3">
          &nbsp;
        </td>
        <td class="rpt-td-w5">
          <div class="rpt-label">
            <span class="rpt-font-8">N° Postulante:</span>
          </div>
        </td>
        <td class="rpt-td-w7">
          <div class="rpt-input-h1">
            <span class="rpt-font-9">{{codigoPre}}</span>
          </div>
        </td>
        <td class="rpt-td-w5" rowspan="3">
          <div class="rpt-input-h3" style="line-height: 0.8; text-align: center;">
            <br>
            <span class="rpt-font-7">Grupo Sanguíneo ABO<br>y Factor Rh</span>
            <br><br><br>
            <span class="rpt-font-10">{{grupoABO}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="rpt-td-w3" rowspan="2">
          <div class="rpt-label">
            <span class="rpt-font-7">Fecha (Día/mes/año)</span>
          </div>
        </td>
        <td class="rpt-td-w5" rowspan="2">
          <div class="rpt-input-h2">
            <span class="rpt-font-9-b">{{fechaDona}}</span>
          </div>
        </td>
        <td class="rpt-td-w5">
          <div class="rpt-label">
            <span class="rpt-font-8">Código del Donante:</span>
          </div>
        </td>
        <td class="rpt-td-w7">
          <div class="rpt-input-h2">
            <span class="rpt-font-9-b">{{codDonacion}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="rpt-td-w5">
          <div class="rpt-label">
            <span class="rpt-font-8">{{tipDocu}}</span>
          </div>
        </td>
        <td class="rpt-td-w7">
          <div class="rpt-input-h1">
            <span class="rpt-font-8">{{numDocu}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table width="756px" border="0" cellspacing="0">
    <tbody>
      <tr>
        <td colspan="2" style="width: 107px">
          <div class="rpt-label">
            <span class="rpt-font-8">TIPO DE DONANTE</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-w3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Voluntario</span>
          </div>
        </td>
        <td class="rpt-td-w1">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xVoluntario}}</span>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td class="rpt-td-w3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Autólogo</span>
          </div>
        </td>
        <td class="rpt-td-w1">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xAutologo}}</span>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td colspan="2" class="rpt-td-w3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Reposición</span>
          </div>
        </td>
        <td class="rpt-td-w1">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xReposicion}}</span>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td colspan="2" class="rpt-td-w3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Dirigida</span>
          </div>
        </td>
        <td class="rpt-td-w1">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xDirigida}}</span>
          </div>
        </td>
        <td class="rpt-td-w5" rowspan="3">
          <div class="rpt-input-h3" style="line-height: 0.9; text-align: center; height: 56px;">
            <br>
            <span class="rpt-font-8">Hb y/o Hto</span>
            <br><br>
            <span class="rpt-font-8">{{hemoglobina}}&nbsp;&nbsp;&nbsp;&nbsp;{{hematocrito}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="rpt-td-w3">
          <div class="rpt-label">
            <span class="rpt-font-8">Sangre Total</span>
          </div>
        </td>
        <td class="rpt-td-w1">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xSangre}}</span>
          </div>
        </td>
        <td class="rpt-td-w3" style="width: 45px">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Aféresis</span>
          </div>
        </td>
        <td class="rpt-td-w1">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xAferesis}}</span>
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Tubuladora</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-w4">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Extr. Desde</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-w2">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Extr. Hasta</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-w2">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="rpt-label">
            <span class="rpt-font-8-b">RECEPTOR</span>
          </div>
        </td>
        <td colspan="11">
          <div class="rpt-label">
            <span class="rpt-font-9">{{personaRelacion}}</span>
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Volumen:</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-w2">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="10">
        <div class="rpt-label">
          <span class="rpt-font-8-b">1. DATOS PERSONALES</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">APELLIDO PAT.</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w8">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{apPaterno}}</span>
        </div>
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">APELLIDO MAT.</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w8">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{apMaterno}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">NOMBRES</span>
        </div>
      </td>
      <td colspan="7" class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{primerNombre}}</span>
        </div>
      </td>
    </tr>
  </table>
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td style="width: 85px;">
        <div class="rpt-label">
          <span class="rpt-font-8">SEXO</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{sexo}}</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td rowspan="3" class="rpt-td-w1">
        &nbsp;
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">EDAD (Años cumplidos)</span>
        </div>
      </td>
      <td class="rpt-td-w5">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{edad}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">LUGAR DE NACIMIENTO</span>
        </div>
      </td>
      <td class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{lugarNacimiento}}</span>
        </div>
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">FECHA DE NACIMIENTO</span>
        </div>
      </td>
      <td class="rpt-td-w5">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{fecNacimiento}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">PROCEDENCIA</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{procedencia}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">ESTADO CIVIL</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{estadoCivil}}</span>
        </div>
      </td>
    </tr>
  </table>
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td style="width: 94px;">
        <div class="rpt-label">
          <span class="rpt-font-8">DOMICILIO</span>
        </div>
      </td>
      <td colspan="9" class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{direccion}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">DISTRITO</span>
        </div>
      </td>
      <td class="rpt-td-w6">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{distrito}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">PROV.</span>
        </div>
      </td>
      <td class="rpt-td-w6">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{provincia}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">DPTO.</span>
        </div>
      </td>
      <td class="rpt-td-w6">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{departamento}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">OCUPACIÓN</span>
        </div>
      </td>
      <td class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{ocupacion}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">TELEF.</span>
        </div>
      </td>
      <td class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{telefono}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">CEL.</span>
        </div>
      </td>
      <td class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{celular}}</span>
        </div>
      </td>
    </tr>
  </table>
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td style="width: 96px;">
        <div class="rpt-label">
          <span class="rpt-font-8">E-MAIL</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-w9">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{correo}}</span>
        </div>
      </td>
      <td class="rpt-td-w6">
        <div class="rpt-label-r">
          <span class="rpt-font-8">LUGAR DE TRABAJO</span>
        </div>
      </td>
      <td colspan="3">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{lugarTrabajo}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">VIAJES</span>
        </div>
      </td>
      <td class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{viajes}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">PERMANENCIA</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-w6">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{permanencia}}</span>
        </div>
      </td>
      <td style="width: 121px;">
        <div class="rpt-label-r">
          <span class="rpt-font-8">FECHA</span>
        </div>
      </td>
      <td class="rpt-td-w5">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{fechaViaje}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">OTROS</span>
        </div>
      </td>
      <td colspan="9" class="rpt-td-w7">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{otrosRecepcion}}</span>
        </div>
      </td>
    </tr>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8-b">2. EXAMEN FÍSICO</span>
        </div>
      </td>
      <td colspan="9">
        <div class="rpt-label">
          <span class="rpt-font-7-b">Para ser llenado por el examinador</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">Peso:</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-input-b">
          <span class="rpt-font-8" style="margin-left: 5px;">{{pesoDonacion}}</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-label">
          <span class="rpt-font-8">Kg</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">Talla:</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-input-b">
          <span class="rpt-font-8" style="margin-left: 5px;">{{tallaDonacion}}</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-label">
          <span class="rpt-font-8">m</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">P.A:</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-input-b">
          <span class="rpt-font-8" style="margin-left: 5px;">{{presionArterial}}</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-label">
          <span class="rpt-font-8">mm/Hg</span>
        </div>
      </td>
      <td>
        <div class="rpt-label-r">
          <span class="rpt-font-8">Frecuencia Cardíaca:</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-input-b">
          <span class="rpt-font-8" style="margin-left: 5px;">{{frecuenciaCardiaca}}</span>
        </div>
      </td>
      <td class="rpt-td-w2">
        <div class="rpt-label">
          <span class="rpt-font-8">L/min</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">Estado de Accesos Venosos:</span>
        </div>
      </td>
      <td colspan="4">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{estadoVenoso}}</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">Lesiones en el área de Venipuntura</span>
        </div>
      </td>
      <td colspan="2">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{lesionesVenas}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">Observaciones:</span>
        </div>
      </td>
      <td colspan="10">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{observacionesChec}}</span>
        </div>
      </td>
    </tr>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="6">
        <div class="rpt-shadow">
          <span class="rpt-font-9">En caso se determine que el postulante hasta este punto no califica para continuar el proceso, se da por finalizado este.</span>
          <br>
          <span class="rpt-font-9">Firmando el postulante en señal de aceptación.</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <div class="rpt-label">
          <span class="rpt-font-7-b">Datos del Postulante (Pre extracción)</span>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 120px">
        <div class="rpt-label">
          <span class="rpt-font-9">Apellido Paterno:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{apPatFase1}}</span>
        </div>
      </td>
      <td rowspan="5">
        &nbsp;
      </td>
      <td rowspan="5" class="rpt-td-w5">
        <div class="rpt-input-h4" style="text-align: center;">
          <span class="rpt-font-9">Huella dactilar</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-9">Apellido Materno:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{apMatFase1}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-9">Nombres:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{nombresFase1}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" rowspan="2" style="width: 175px">
        <div class="rpt-input-firma" style="text-align: center;">
          <span class="rpt-font-9">Firma y Sello del Entrevistador</span>
        </div>
      </td>
      <td rowspan="2" style="width: 170px;">
        &nbsp;
      </td>
      <td style="height: 35px;">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td style="border-top-style: solid; border-top-width: 1px; border-top-color: #000000;">
        <div class="rpt-label" style="text-align: center">
          <span class="rpt-font-7">FIRMA DEL POSTULANTE</span>
        </div>
      </td>
    </tr>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="2" style="width: 325px;">
        <div class="rpt-label">
          <span class="rpt-font-8-b">3. PROTOCOLO DE SELECCIÓN DEL DONANTE DE SANGRE</span>
        </div>
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-7-b">Para ser completado con el apoyo del examinador</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Ha leído y entendido el material informativo que le entregamos?</span>
        </div>
      </td>
      <td class="rpt-td-w4">
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo1A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Tiene más de 18 años?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo2A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Pesa más de 50 kilos?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo3A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Ha donado sangre en los últimos (2) meses? ¿Dónde?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo4B}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo4A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Esta tomando o tomó algún medicamento en los últimos 3 días?<br>¿Cuáles?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo5B}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo5A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Esta actualmente en la lista de espera para una cita con el médico?<br>¿Por qué?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo6B}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo6A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Se encuentra bien se salud?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo7A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8-b">En las Proximas 24 Horas:</span>
          <br>
          <span class="rpt-font-8">¿Va realizar actividad laboral, deportiva u otras riesgosas?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo8A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8-b">En las Últimas (2) Semanas:</span>
          <br>
          <span class="rpt-font-8">¿Ha tenido Fiebre o dolor de cabeza o evidencia de enfermedad?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo9A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8-b">En el Último Mes:</span>
          <br>
          <span class="rpt-font-8">¿Recibio alguna vacuna? ¿Cuál?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo10B}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo10A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Tuvo contacto con algún paciente portador de alguna evidencia de enfermedad?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo11A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8-b">En los Últimos Doce(12) Meses:</span>
          <br>
          <span class="rpt-font-8">¿Se colocó Ud. tatuajes, "piercing", tatuajes, en algún lugar del cuerpo u contacto accidental con sangre?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo12A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Tuvo Ud. Intervenciones quirúrgicas?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo13A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-3">
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8-b">En Alguna Ocasión Durante su Vida:</span>
          <br>
          <span class="rpt-font-8">¿Padece de alguna enfermedad o molestia que requiere control?</span>
          <br>
          <span class="rpt-font-8">Mencione la enfermedad o molestia</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo14B}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo14A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td style="width: 210px;">
        <div class="rpt-label">
          <span class="rpt-font-8-b">Si es Ud. es Mujer:</span>
          <br>
          <span class="rpt-font-8">Fecha de la última regla</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo15A}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">¿Esta gestando actualmente?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo16A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Esta Ud. actualmente dando de lactar?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo17A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan>
        <div class="rpt-label">
          <span class="rpt-font-8">Fecha del último parto</span>
        </div>
      </td>
      <td colspan>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo18A}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">N° de gestaciones</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo19A}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="width: 340px;">
        <div class="rpt-label">
          <span class="rpt-font-8-b">4. CON ASESORIA DEL ENTREVISTADOR</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Cree que podría ser o tiene dudas respecto a que podría ser portador de VIH, Hepatitis B y C?</span>
        </div>
      </td>
      <td class="rpt-td-w4">
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo20A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Alguna vez en su vida usó drogas ilícitas endovenosas u otras?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo21A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Tiene o ha tenido conducta sexual de riesgo en el ultimo año?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo22A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Se ha hecho alguna prueba de descarte de VIH?</span>
        </div>
      </td>
      <td class="rpt-td-w4">
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo23A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Ha mantenido relaciones intimas con personas diagnosticadas de hepatitis B,C,VIH?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo24A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-1">
      <td colspan="3">
        <div class="rpt-label">
          <span class="rpt-font-8">¿Ha padecido de alguna enfermedad de transmisión sexual?</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo25A}}</span>
        </div>
      </td>
    </tr>
    <tr class="rpt-tr-preg-2">
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">Sífilis</span>
          <br>
          <span class="rpt-font-8">Gonorrea</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo26A}}</span>
          <br>
          <span class="rpt-font-8">{{campo27A}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">Chancro</span>
          <br>
          <span class="rpt-font-8">Otros</span>
        </div>
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">{{campo28A}}</span>
          <br>
          <span class="rpt-font-8">{{campo29A}}</span>
        </div>
      </td>
    </tr>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="10">
        <div class="rpt-label">
          <span class="rpt-font-8-b">PRE-CALIFICACIÓN</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">Marcar con una aspa (x):</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td class="rpt-td-w1">
        <div class="rpt-input-b-2">
          <span class="rpt-font-8-b">{{xNoAptoTemp}}</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">Motivo:</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <!--span class="rpt-font-8">....................................................................</span-->
          <span class="rpt-font-8">{{motivoTem}}</span>
        </div>
      </td>
      <td rowspan="4" class="rpt-td-w6">
        <div class="rpt-input-h4">
          &nbsp;
        </div>
      </td>
    </tr>
      <td rowspan="2" style="width: 80px;">
        &nbsp;
      </td>
      <td class="rpt-td-w1">
        <div class="rpt-input-b-2">
          &nbsp;
        </div>
      </td>
      <td colspan="3" style="vertical-align: top; width: 243px;">
        <div class="rpt-label" style="text-align: center;">
          <span class="rpt-font-8">NO APTO TEMPORALMENTE</span>
        </div>
      </td>
      <td colspan="2" style="vertical-align: top">
        <div class="rpt-label">
          <span class="rpt-font-8">Tiempo:<br>Fecha que puede retornar:</span>
        </div>
      </td>
    <tr>
      <td style="vertical-align: top">
        <div class="rpt-label" style="text-align: center;">
          <span class="rpt-font-8">APTO</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td class="rpt-td-w1">
        <div class="rpt-input-b-2">
          <span class="rpt-font-8-b">{{xNoAptoPerm}}</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">Motivo:</span>
        </div>
      </td>
      <td style="width: 210px;">
        <div class="rpt-label">
          <!--span class="rpt-font-8">....................................................................</span-->
          <span class="rpt-font-8">{{motivoPerm}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
      <td colspan="3" style="vertical-align: top">
        <div class="rpt-label" style="text-align: center;">
          <span class="rpt-font-8">NO APTO PERMANENTEMENTE</span>
        </div>
      </td>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="10">
        <div class="rpt-shadow">
          <span class="rpt-font-9">En caso se determine que el postulante hasta este punto no califica para continuar el proceso, se da por finalizado este.</span>
          <br>
          <span class="rpt-font-9">Firmando el postulante en señal de aceptación.</span>
        </div>
      </td>
    </tr>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="10">
        <div class="rpt-label">
          <span class="rpt-font-7-b">Datos del Postulante (Pre extracción)</span>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 120px">
        <div class="rpt-label">
          <span class="rpt-font-9">Apellido Paterno:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{apPatFase2}}</span>
        </div>
      </td>
      <td rowspan="5">
        &nbsp;
      </td>
      <td rowspan="5" class="rpt-td-w5">
        <div class="rpt-input-h4" style="text-align: center;">
          <span class="rpt-font-9">Huella dactilar</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-9">Apellido Materno:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{apMatFase2}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-9">Nombres:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">{{nombresFase2}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" rowspan="2" style="width: 175px">
        <div class="rpt-input-firma" style="text-align: center;">
          <span class="rpt-font-9">Firma y Sello del Entrevistador</span>
        </div>
      </td>
      <td rowspan="2" style="width: 170px;">
        &nbsp;
      </td>
      <td style="height: 35px;">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td style="border-top-style: solid; border-top-width: 1px; border-top-color: #000000;">
        <div class="rpt-label" style="text-align: center">
          <span class="rpt-font-7">FIRMA DEL POSTULANTE</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-9">Observaciones</span>
        </div>
      </td>
      <td colspan="3">
        <span class="rpt-font-9">_________________________________________________________________________</span>
      </td>
      <td rowspan="2" colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
      <td colspan="3">
        <span class="rpt-font-9">_________________________________________________________________________</span>
      </td>
    </tr>
    <tr>
      <td colspan="6" style="width: 340px;">
        <div class="rpt-label">
          <span class="rpt-font-8-b">5. CONSENTIMIENTO INFORMADO DEL POSTULANTE</span>
        </div>
      </td>
    </tr>
  </table>
  <table class="rpt-table-b" width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="6">
        <div class="rpt-label">
          <span class="rpt-font-8">Yo , voluntariamente dono mi sangre y derivados a esta institucion. Concedo autorizacion para que se obtenga la cantidad de 450 
            ml  de sangre y sea examinada con los 7 marcadores de tamizaje para (Hepatitis B, Hepatitis C, Chagas, HTLV I-II, Sifilis, HIV) y 
            utilizada en la transfusión sanguinea. He tenido la  oportunidad de preguntar sobre este procedimiento, y entendido lo que es y 
            cuales son los riesgos y tambien he tenido oportunidad de rechazar que lo realicen. He revisado y entendido la información que me 
            dieron referente a la propagacion del virus del SIDA a traves de donaciones de sangre, plaquetas o plasma, por lo tanto yo 
            considero que mi sangre debe ser examinada para los anticuerpos del SIDA y otras enfermedades infecciosas. En mi 
            consentimiento yo certifico que he contestado con toda la veracidad las preguntas que me realizaron. Yo por medio de la presente 
            eximo de toda responsabilidad a esta institución y a sus miembros de cualquier reclamo o demanda que yo, mis herederos, 
            ejecutores o administradores tengan o puedan tener en contra de cualquiera de ellos en lo que se refiere a esta donación y 
            cualquier consecuencia como resultado directo o indirecto de ella.</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="10">
        <div class="rpt-label">
          <span class="rpt-font-7-b">Datos del Postulante</span>
        </div>
      </td>
    </tr>
    <tr>
      <td style="width: 120px">
        <div class="rpt-label">
          <span class="rpt-font-9">Apellido Paterno:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">&nbsp;</span>
        </div>
      </td>
      <td rowspan="5">
        &nbsp;
      </td>
      <td rowspan="5" class="rpt-td-w5">
        <div class="rpt-input-h4" style="text-align: center;">
          <span class="rpt-font-9">Huella dactilar</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-9">Apellido Materno:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">&nbsp;</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-9">Nombres:</span>
        </div>
      </td>
      <td colspan="3" class="rpt-td-w50">
        <div class="rpt-input-h1">
          <span class="rpt-font-8">&nbsp;</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" rowspan="2" style="width: 175px">
        &nbsp;
      </td>
      <td style="height: 35px;">
        &nbsp;
      </td>
      <td rowspan="2" style="width: 170px;">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td style="border-top-style: solid; border-top-width: 1px; border-top-color: #000000;">
        <div class="rpt-label" style="text-align: center">
          <span class="rpt-font-7">FIRMA DEL DONANTE</span>
        </div>
      </td>
    </tr>
  </table>
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="6" style="width: 340px;">
        <div class="rpt-label">
          <span class="rpt-font-8-b">6. REVOCATORIA DE CONSENTIMIENTO INFORMADO</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <div class="rpt-label">
          <span class="rpt-font-8">Yo , ....................................................................................................................................... Con DNI N° ................................................
            hago uso de mi derecho de revocatoria al Consentimiento Informado que suscribiera anteriormente, y EXPRESO MI DECISION DE 
            NO DONAR SANGRE.
            <br>
            (&nbsp;&nbsp;&nbsp;) Debido a ..............................................................................................................................................................................................
            <br>
            (&nbsp;&nbsp;&nbsp;) No deseo manifestar la causa</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">Fecha y Hora .........................................................</span>
        </div>
      </td>
      <td colspan="3" style="width: 145px">
        &nbsp;
      </td>
      <td rowspan="4">
        &nbsp;
      </td>
      <td rowspan="4" class="rpt-td-w5">
        <div class="rpt-input-h4" style="text-align: center;">
          <span class="rpt-font-9">Huella dactilar</span>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td style="border-top-style: solid; border-top-width: 1px; border-top-color: #000000;">
        <div class="rpt-label" style="text-align: center">
          <span class="rpt-font-7">FIRMA DEL DONANTE</span>
        </div>
      </td>
      <td colspan="2" style="width: 145px">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="2" style="width: 145px">
        &nbsp;
      </td>
      <td style="border-top-style: solid; border-top-width: 1px; border-top-color: #000000;">
        <div class="rpt-label" style="text-align: center">
          <span class="rpt-font-7">Firma y Sello del Responsable del Banco de Sangre</span>
        </div>
      </td>
    </tr>
  </table>
</div>