<h3 mat-dialog-title>BÚSQUEDA - {{titulos![idPantalla!-1]}}</h3>

<mat-dialog-content class="modal">

  <mat-form-field appearance="outline">
      <mat-label>Código</mat-label>
      <input #CODIGO [(ngModel)]="codigo" matInput placeholder="Búsqueda" #input (keyup.enter)="buscar()">
      <button *ngIf="CODIGO.value" type="button" matSuffix mat-icon-button aria-label="Limpiar" (click)="CODIGO.value='';">
        <mat-icon>close</mat-icon>
      </button>
      <!--mat-icon matSuffix>search</mat-icon-->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tipo</mat-label>
    <mat-select 
    [(ngModel)]="idTipo"
    (selectionChange)="selecttipo($event.value)"
    >
      <mat-option value="R">Rendición</mat-option>
      <mat-option value="M">Movilidad</mat-option>
      <mat-option value="">Todos</mat-option> 
    </mat-select>
  </mat-form-field>

  <mat-form-field [color]="usuarioColor" minlength="1" maxlength="100" *ngIf="permiso.vertodos || idPantalla !== 1" appearance="outline">
    <mat-label>Usuario</mat-label>
    <input #USUARIO type="text" matInput [formControl]="controlUsuarios" [matAutocomplete]="autoLinea" required>
    <button *ngIf="USUARIO.value" type="button" matSuffix mat-icon-button aria-label="Limpiar" (click)="USUARIO.value=''; setCurUsuario(undefined, true); initFilterUsuarios();">
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #autoLinea="matAutocomplete" [displayWith]="mostrarAutoCombo" (optionSelected)="changeUsuario($event)">
        <mat-option *ngFor="let el of filterUsuarios | async" [value]="el">
        {{el.descripcion}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-label>Estado</mat-label>
  <div *ngFor="let el of listaEstados">
      <label *ngIf="el.visual">
          <input type="checkbox" [value]="el.valor" (change)="onCheckboxChange($event)" [(ngModel)]="el.isChecked"/>
          <div class="circulo {{getClassEstado(el.valor)}}" style="width: 20px; height: 20px; margin-bottom: -4px; margin-right: 2px;"></div>
          {{el.descripcion}}
      </label>
  </div>

  <div class="content contentTable">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <mat-form-field appearance="outline" style="margin-top: 15px;">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [matDatepicker]="fechaInicio" placeholder="dd/mm/yyyy" [max]="fechaInicio" 
          [(ngModel)]="fechaSelectIni"  (dateChange)="onDateChange()" [max]="fechaMax">
          <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicio></mat-datepicker>
        </mat-form-field>
      </div>
      <div div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
        <mat-form-field appearance="outline" style="margin-top: 15px;">
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="fechaFin" placeholder="dd/mm/yyyy" [max]="fechaFin" 
          [(ngModel)]="fechaSelectFin" (dateChange)="onDateChange()" [max]="fechaMax">
          <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
          <mat-datepicker #fechaFin></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  



</mat-dialog-content>

<div class="btnModal" align="end">
  <button mat-stroked-button class="btnRed" mat-dialog-close><mat-icon>close</mat-icon>Cerrar</button> 
  <button mat-stroked-button class="btnYellow"(click)="limpiar()"><mat-icon>cleaning_services</mat-icon>Limpiar</button>
  <button mat-stroked-button class="btnBlue" (click)="buscar()" [disabled]="idUsuario === ''"><mat-icon>search</mat-icon>Buscar</button>
</div>