<div mat-dialog-actions class="card">

    <div class="content">
        <span></span>
        <div class="img">
            <img src="{{perfil}}" alt="profile"/>
        </div>
        <h4>{{dato}}</h4>

        <h5 style="color: rgb(132, 131, 131);">Esta cuenta es de Sharepoint, Si cambia de contraseña por favor validar con Sharepoint en la nube office 365.</h5>

        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input [(ngModel)]="usuario" disabled="true" matInput placeholder="Usuario" #input>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input #PASS [(ngModel)]="password" matInput placeholder="Password" #input type="password">
        </mat-form-field>

        <!--h5 style="color: rgb(132, 131, 131); text-align: initial;">Asegúrate de tener acceso a las siguientes rutas para poder interactuar con Sharepoint:</h5>

        <div>
            <a target="_blank" href="https://sistemasanaliticospe.sharepoint.com/:f:/s/RendicionesEvidencias/EjNefHmZ1vxMoAJ3CnlUcs4B3lISVboRA-AfJtDSWq_p0A?e=sohDD6" class="btnInicio">Carpeta de Rendiciones</a>
        </div-->

    </div>

    <div class="btnModal" align="end">
        <button style="margin-right: 4px;" mat-stroked-button class="btnRed" mat-dialog-close><mat-icon>close</mat-icon>Cerrar</button> 
        <button mat-stroked-button class="btnBlue" (click)="guardar()" [disabled]="PASS.value.length<=7"><mat-icon>save</mat-icon>Guardar</button>
      </div>

</div>
