.card {
    position: relative;
}

.card .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;  
    padding: 10px;
    background: #fff;
}

.card .content .img {
    height: 50%;
    margin-bottom: -1px;
}

.card .content .img img {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card .content span {
    position: absolute;
    width: 465px;
    height: 195px;
    background: linear-gradient(90deg,#be3900eb 43%, #da4f14eb 100%);
    /* transform: rotate(-35deg); */
    top: -94px;
    left: -89px;
}

.card .content h4 {
    font-size: 18px;
    color: #be3900eb;
    margin-bottom: 5px;
    font-weight:600;
}

.btnInicio{
    display: inline-block;
    /* margin-top: 1rem; */
    padding:.4rem 1.5rem;
    border-radius: 5rem;
    background:#ee4b06 no-repeat 0 0;
    font-size: 1rem;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
    transition: all .2s linear;
    text-decoration: solid;
}

.btnInicio:hover{
    transform: scale(1.05);
}