<mat-toolbar color="primary" class="example-toolbar submenu example-button">
    <div class="example-button-row">
      <button mat-stroked-button class="btnHeader" (click)="actualizar()">
        <mat-icon class="maticon">syncalt</mat-icon>
      </button>
      <button mat-stroked-button class="btnHeader" (click)="abrirBusqueda()">
        <mat-icon class="maticon">filter_alt</mat-icon>
      </button>
      <button *ngIf="idPantalla === 1" mat-stroked-button class="btnHeader" routerLink="/page/administracion/rendicion/{{idPantalla}}/create">
        <mat-icon class="maticon">add</mat-icon>
      </button>
      <button *ngIf="idPantalla !== 1 && sgteEstado1 !== 0" mat-stroked-button class="btnHeader" (click)="cambiaEstadoSeleccion(sgteEstado1, sgteAccion1)" [disabled]="selection.selected.length === 0">
        <mat-icon class="maticon">{{sgteIcono1}}</mat-icon>
      </button>
      <button *ngIf="idPantalla !== 1 && sgteEstado2 !== 0" mat-stroked-button class="btnHeader" (click)="cambiaEstadoSeleccion(sgteEstado2, sgteAccion2, true)" [disabled]="selection.selected.length === 0">
        <mat-icon class="maticon">{{sgteIcono2}}</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <div class="container">  
    <mat-card class="cardborde">   
      <mat-toolbar class="cardtitle"></mat-toolbar>
      <h2 class="title-label"> {{tituloPantalla[idPantalla-1]}} </h2>
      <mat-divider></mat-divider>
      <form style="padding: 0;">     
        
        <div class="example-loading-shade" *ngIf="loading || existRegistro">
          <mat-spinner *ngIf="loading"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="existRegistro">
            No se encontraron registros.
          </div>
        </div>
  
        <div class="example-container mat-elevation-z0">
          <mat-table [dataSource]="dataSource" matSort>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select" >
              <th mat-header-cell *matHeaderCellDef style="border: none;" [ngClass]="'widthTable web'">
                <mat-checkbox color="primary"
                              (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row" style="border: none;" [ngClass]="'widthTable web'">
                <mat-checkbox *ngIf="puedeAccionEstado(row.ideEstado)" (click)="$event.stopPropagation()"
                              color="primary"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
           
            <ng-container matColumnDef="codigo1">
              <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'">Código</mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="Código"> 
                <div style="font-weight:600;color: #c13c04;font-size: 16px;"> 
                  {{element.codigo}}
                </div>     
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable mobil'">Mobil</mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="'widthTable mobil'">
                <div class="responsive-estado">CÓDIGO</div>     
                <div style="margin-left:auto; font-weight:600; color: #c13c04;font-size: 16px;">
                  <mat-checkbox *ngIf="puedeAccionEstado(element.ideEstado)" (click)="$event.stopPropagation()"
                    color="primary"
                    (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)">
                  </mat-checkbox> 
                  {{element.codigo}}
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Tipo">
                <div style="font-weight: 500;">{{element.tipo}}</div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lugar">
              <mat-header-cell *matHeaderCellDef> Lugar </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Lugar"> {{element.lugar}} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="motivo">
              <mat-header-cell *matHeaderCellDef> Motivo </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Motivo"> {{element.motivo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="balance">
              <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Balance">
                <div *ngIf="element.balance < 0" style="text-align:right;font-weight:500;color:#cf1313;">{{mostrarBalance(element.monedaRecibe, element.balance)}}</div>
                <div *ngIf="element.balance >= 0" style="text-align:right;font-weight:500;color:#02108c;">{{mostrarBalance(element.monedaRecibe, element.balance)}}</div> 
              </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'"> Estado </mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="estado">
                <div class="circulo {{getClassEstado(element.ideEstado)}}" style="margin-left: 0px;"></div>
                <span style="padding-left: 12px">{{element.estado}}</span>
              </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="correo">
              <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'"></mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="Correo"> 
                <mat-icon *ngIf="element.correo=='Sí'" style="color: #1b70c7;">mark_email_read_sharp_icon</mat-icon>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="accion">
              <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'"> </mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="Accion">            
                <a *ngIf="puedeEditar(element.ideUsuario, element.ideEstado)" class="pointer edit" matTooltip="Editar" [routerLink]="['edit', element.ideRendicion]">
                  <mat-icon>edit</mat-icon>
                </a>
                <a *ngIf="!puedeEditar(element.ideUsuario, element.ideEstado)" class="pointer edit" matTooltip="Ver" [routerLink]="['edit', element.ideRendicion]">
                  <mat-icon>visibility</mat-icon>
                </a>
              </mat-cell>
            </ng-container>   

            <ng-container matColumnDef="mo">
              <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable mobil'">Móbil</mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="'widthTable mobil'">
                <a class="pointer edit">
                  <div class="circulo {{getClassEstado(element.ideEstado)}}" style="margin-left: 0px;"></div>
                </a>
                <div class="responsive-estado" style="font-weight:600;color: midnightblue; padding-left: 5px">{{element.estado}}</div>     
                <div style="margin-left:auto;">
                  <mat-icon *ngIf="element.correo=='Sí'" style="color: #1b70c7;">mark_email_read_sharp_icon</mat-icon>
                  <a *ngIf="puedeEditar(element.ideUsuario, element.ideEstado)" class="pointer edit" matTooltip="Editar" [routerLink]="['edit', element.ideRendicion]">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <a *ngIf="!puedeEditar(element.ideUsuario, element.ideEstado)" class="pointer edit" matTooltip="Ver" [routerLink]="['edit', element.ideRendicion]">
                    <mat-icon>visibility</mat-icon>
                  </a>
                </div>
              </mat-cell>
            </ng-container>
                        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          
          </mat-table>
          <mat-paginator 
            [length]="countRegistro" 
            [pageSizeOptions]="[5, 10, 20]" 
            showFirstLastButtons 
            aria-label="Select page of users">
          </mat-paginator>
        </div>
  
      </form>    
    </mat-card>
  </div>