<h3 mat-dialog-title>POSTULANTE DIFERIDO</h3>

<mat-dialog-content class="modal">
    <h3 mat-dialog-title style="font-weight:500;color:#3f51b5;">Confirma diferir al Postulante?</h3>
    <div fxLayout="row wrap" fxLayoutGap="0px grid">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <label class="radio">Permanente
                <input type="radio" [checked]="permanente" name="btnDiferido" (click)="changediferido('D')">
                <span class="check"></span>
            </label>
            <br>
            <label class="radio" style="width:109px">Temporal Hasta
                <input type="radio" [checked]="temporal" name="btnDiferido" (click)="changediferido('T')">
                <span class="check"></span>
            </label>
        </div>
        <div *ngIf="fechadif" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
            <label></label>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Fecha Hasta</mat-label>
                <input matInput [matDatepicker]="fechaHasta" placeholder="dd/mm/yyyy" [max]="fechaHasta" 
                [(ngModel)]="fechaSelectHasta"  (dateChange)="onDateChange()" [min]="fechaMin">
                <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
                <mat-datepicker #fechaHasta></mat-datepicker>
              </mat-form-field>
        </div>
    </div>

</mat-dialog-content>

<div class="btnModal" align="end">
  <button mat-stroked-button class="btnRed" mat-dialog-close><mat-icon>close</mat-icon>Cerrar</button> 
  <button mat-stroked-button class="btnBlue" (click)="confirmar()"><mat-icon>check</mat-icon>Confirmar</button>
</div>
