<div>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap;">
      <div style="width: 100%;">
        <p style="font-weight: bold; margin: 0 0 0; font-size:9px; font-family:system-ui;">{{nombres}}</p>
      </div>
    </div>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap; font-family:system-ui;">
      <div style="width: 100%; display: flex;">
        <p style="margin: 0 0 0; font-size:7.8px;">{{documento}}</p>
        <p style="margin: 0 0 0; margin-left:20px; font-size:7.8px;">{{sexo}}</p>
        <p style="margin: 0 0 0; margin-left:10px; font-size:7.8px;">{{hematocritos}}</p>
      </div>
    </div>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap; font-family:system-ui;">
      <div style="width: 100%; display: flex;">
        <p style="margin: 0 0 0; font-size:7.2px;">Fec. Nac.: {{fecNacimiento}}</p>
        <p style="margin: 0 0 0; margin-left:10px; font-size:7.2px;">Edad: {{edad}}</p>
        <p style="margin: 0 0 0; margin-left:10px; font-size:7.8px;">{{hemoglobina}}</p>
      </div>
    </div>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap;margin-left:-4px;">
      <div>
        <svg id="barcode"></svg>
      </div>
      <div style="font-family:system-ui;">
        <p style="font-weight: bold; margin: 8px 0px 0px; font-size:19.8px; text-align:center; padding-left:14px;">{{grupo}}</p>
        <p style="font-weight: bold; margin: 0 0 0; font-size:7.8px; text-align:center;padding-left:14px;">{{mostrarRh}}</p>
      </div>
    </div>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap; font-family:system-ui;">
      <div style="width: 100%; display: flex;">
        <p style="font-weight: bold; margin: 0 0 0; font-size:10.2px; margin-right:62px;">
          {{codMuestra}}
        </p>
        <p style="font-weight: bold; margin: 3px 0px 0px; font-size:7.2px;">{{vFecha}}</p>
      </div>
    </div>
</div>
