<mat-toolbar color="primary" class="example-toolbar submenu example-button">
    <div class="example-button-rowR">
      <button mat-stroked-button class="btnHeader" #tooltip="matTooltip" matTooltip="Atrás" routerLink="/page/administracion/rendicion">
        <mat-icon class="maticon">subdirectory_arrow_left</mat-icon>
      </button>
    </div>
    <div class="example-button-row">
      <button *ngIf="edit && id!==0" mat-stroked-button class="btnHeader" #tooltip="matTooltip" matTooltip="Eliminar" type="button" (click)="cambiaEstado(0)">
        <mat-icon class="maticon">delete</mat-icon>
      </button>
      <button *ngIf="edit" mat-stroked-button class="btnHeader" #tooltip="matTooltip" matTooltip="Guardar" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
        <mat-icon class="maticon">save</mat-icon>
      </button>
      <button *ngIf="tienepermiso(sgteEstadoR) && TIPO.value === 'R' && txtEditarR !== ''" mat-stroked-button class="btnHeader" #tooltip="matTooltip" matTooltip="{{txtEditarR}}" type="button" (click)="cambiaEstado(sgteEstadoR)">
        <mat-icon class="maticon">{{sgteIconR}}</mat-icon>
        <!-- {{txtEditarR}} -->
      </button>
      <button *ngIf="tienepermiso(sgteEstadoM) && TIPO.value === 'M' && txtEditarM !== ''" mat-stroked-button class="btnHeader" #tooltip="matTooltip" matTooltip="{{txtEditarM}}" type="button" (click)="cambiaEstado(sgteEstadoM)">
        <mat-icon class="maticon">{{sgteIconM}}</mat-icon>
        <!-- {{txtEditarM}} -->
      </button>

    </div>
</mat-toolbar>

<div class="container">  
<mat-card class="cardborde">   
  <mat-toolbar class="cardtitle"></mat-toolbar>

  <h2 *ngIf="id==0" class="title-label">CREAR {{getDescTipo(TIPO.value)}}</h2>
  <h2 *ngIf="id!==0 && edit" class="title-label">EDITAR {{getDescTipo(TIPO.value)}}</h2>
  <h2 *ngIf="id!==0 && !edit" class="title-label">VER {{getDescTipo(TIPO.value)}}</h2>

  <mat-divider></mat-divider>
  
  <div id="content" *ngIf="id !== 0"> 
      <div style="width: 100%; float:left;margin-bottom: -17px;"> 
        <div style="text-align: center; color: #1a0da4; font-weight: 500;padding-top: 11px;">
          ESTADO {{estado}}
          <div class="circulotitle {{claseEstado}}"></div>
        </div> 
        <div style="text-align: center; color: #1a0da4; font-weight:600;">CODIGO: {{documento}}</div> 
      </div> 
  </div>

  <br style="clear:both;"/>
  <form onkeydown="return event.key != 'Enter';" class="forms" id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">
    <mat-stepper #stepper id="stepper" [selectedIndex]="currentTab" (click)="changestepper(stepper)" labelPosition="bottom">
      <mat-step>
        <ng-template matStepLabel>Principal</ng-template>        
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [hidden]="true">
              <mat-form-field appearance="outline">
                  <input matInput placeholder="Id" formControlName="ideRendicion">
                  <input matInput placeholder="IdEstado" formControlName="ideEstado">
              </mat-form-field>
            </div>

            <div style="display: none;">
              <mat-label>{{getControlLabel('estado')}}</mat-label>
              <div>
                  <mat-label>{{getControlLabel('codigo')}}</mat-label>
              </div>  
            </div>            

            <div div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
              <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                <mat-grid-tile [colspan]="12">
                  <mat-form-field appearance="outline">
                    <mat-label>Lugar</mat-label>
                    <input matInput formControlName="lugar" [readonly]="!edit" required>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                <mat-grid-tile [colspan]="12">
                  <mat-form-field appearance="outline">
                    <mat-label>Motivo</mat-label>
                    <input matInput formControlName="motivo" [readonly]="!edit" required>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                <mat-grid-tile [colspan]="12">
                  <mat-form-field appearance="outline">
                    <mat-label>Tipo</mat-label>
                    <mat-select
                      #TIPO
                      formControlName="tipo"
                      [disabled]="!edit" 
                      required
                    >
                      <mat-option *ngFor="let el of listaTipos" [value]="el.valor">
                        {{el.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">              
                <mat-grid-tile [colspan]="12">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="dFechaCreacion" placeholder="dd/mm/yyyy" formControlName="fechaCreacion" [disabled]="true">
                    <mat-datepicker-toggle matSuffix [for]="dFechaCreacion"></mat-datepicker-toggle>
                    <mat-datepicker #dFechaCreacion></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>              

            <div div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Ingresos</mat-label>
                      <input #INGRESOS matInput type="number" class="example-right-align-ingreso"  oninput="if(this.value.length>=7) { this.value = this.value.slice(0,7); }" onkeypress="return /[0-9|.]/i.test(event.key)" formControlName="ingresos" placeholder="0.00" [readonly]="!edit">
                    </mat-form-field>
                  </mat-grid-tile>                
                </mat-grid-list>

                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Gastos</mat-label>
                      <input #GASTOS matInput type="number" class="example-right-align-gasto" oninput="if(this.value.length>=7) { this.value = this.value.slice(0,7); }" onkeypress="return /[0-9|.]/i.test(event.key)" formControlName="gastos" placeholder="0.00" readonly>
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Balance</mat-label>
                      <input matInput type="number" class="example-right-align-balance" oninput="if(this.value.length>=7) { this.value = this.value.slice(0,7); }" onkeypress="return /[0-9|.]/i.test(event.key)" placeholder="0.00" readonly [value]="restarCampos(INGRESOS.value,GASTOS.value)" >
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>   
                
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px" *ngIf="edit">

                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline" fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="100%">
                      <input matInput [(ngModel)]="nombreAdjunto" formControlName="nombreAdjunto">
                    </mat-form-field>
                    <div style="font-size:37px;color:#ffffff;font-weight:500;"><label>-</label></div>
                    <mat-form-field fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%">
                      <input matInput class="file-select" type="file" (change)="subirArchivo($event)">
                    </mat-form-field>                   
                  </mat-grid-tile>

                </mat-grid-list>   

            </div>            
          </div>
         </div>
        <div *ngIf="id!==0" style="padding-top: 10px">
          <button class="btnnext" mat-button matStepperNext type="button">Siguiente</button>
        </div>
      </mat-step>

      <mat-step *ngIf="existRendicion">
        <ng-template matStepLabel>Detalle</ng-template>
        <mat-grid-list cols="12" rowHeight="45px" gutterSize="15px">
          <mat-grid-tile class="example-right-align-ingreso" [colspan]="4">
            Ingresos<br>{{vIngresos}}
          </mat-grid-tile>
          <mat-grid-tile class="example-right-align-gasto" [colspan]="4">
            Gastos<br>{{vGastos}}
          </mat-grid-tile>
          <mat-grid-tile class="example-right-align-balance" [colspan]="4">
            Balance<br>{{vBalance}}
          </mat-grid-tile>
        </mat-grid-list>
        <div class="content contentTable">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div div fxFlex="45%" fxFlex.xs="45%" fxFlex.sm="100%">

            </div>
            <div div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="100%" *ngIf="edit">  
              <div class="example-button-row">
                <button mat-stroked-button class="btnHeader" type="button" (click)="abrirDetalle()">
                  <mat-icon class="maticon">add</mat-icon>
                </button>  
              </div>        
            </div>
          </div>

          <div *ngIf="!existDetalle">
            No se encontraron detalles.
          </div>
    
          <div *ngIf="existDetalle" class="example-container mat-elevation-z0">
            <mat-table [dataSource]="dataSource" matSort>
              
              <ng-container matColumnDef="concepto">
                <mat-header-cell *matHeaderCellDef> Concepto </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Concepto"> 
                  <div style="font-weight:500;color: #696868;font-size: 16px;">{{getDescripcion(element.codConcepto, tbConcepto)}}</div>     
                </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="vFecha">
                <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Fecha"> {{element.vFecha}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="documento">
                <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Documento"> {{element.documento}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="codMoneda">
                <mat-header-cell *matHeaderCellDef> Moneda </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Moneda"> {{getDescripcion(element.codMoneda, tbMoneda)}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="vMonto">
                <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Monto"> {{element.vMonto}} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="proveedor">
                <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'"> Proveedor </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Proveedor"> {{element.proveedor}} </mat-cell>
              </ng-container>
              
              <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Descripcion"> {{element.descripcion}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="comodato">
                <mat-header-cell *matHeaderCellDef> Comodato </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Comodato"> {{element.comodato}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'"> </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="Accion">            
                  <a *ngIf="!edit" class="pointer ver" matTooltip="Ver" (click)="abrirDetalle(element)">
                    <mat-icon>visibility</mat-icon>
                  </a>
                  <a *ngIf="edit" class="pointer edit" matTooltip="Editar" (click)="abrirDetalle(element)">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <a *ngIf="edit" class="pointer delete" matTooltip="Eliminar" (click)="eliminarDetalle(element)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="mo">
                <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable mobil'">Mobil</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'widthTable mobil'">
                  <div style="margin-left:auto;">
                    <a *ngIf="!edit" class="pointer ver" matTooltip="Ver" (click)="abrirDetalle(element)">
                      <mat-icon>visibility</mat-icon>
                    </a>
                    <a *ngIf="edit" class="pointer edit" matTooltip="Editar" (click)="abrirDetalle(element)">
                      <mat-icon>edit</mat-icon>
                    </a>
                    <a *ngIf="edit" class="pointer delete" matTooltip="Eliminar" (click)="eliminarDetalle(element)">
                      <mat-icon>delete</mat-icon>
                    </a>
                  </div>
                </mat-cell>
              </ng-container>
                          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            
            </mat-table>
          </div>
        </div>
        <div style="padding-top: 10px">          
          <button class="btnprevio" mat-button matStepperPrevious type="button">Atrás</button>
        </div>
      </mat-step>
    </mat-stepper>
   
  </form>
 
</mat-card>
</div>