<mat-toolbar color="primary" class="example-toolbar submenu example-button">
    <div class="example-button-rowR">
      <button mat-stroked-button class="btnHeader" routerLink="/page/donante/aspirantelight">
        <mat-icon class="maticon">subdirectory_arrow_left</mat-icon>
      </button>
    </div>
    <div class="example-button-row">
      <button *ngIf="edit && permiso.guardar" mat-stroked-button class="btnHeader" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
        <mat-icon class="maticon">save</mat-icon>
      </button>
    </div>
</mat-toolbar>


<div class="container">
  <mat-card id="card" class="cardborde">
      <mat-toolbar class="cardtitle"></mat-toolbar>
      <h2 *ngIf="id===0" class="title-label">CREAR POSTULANTE</h2>
      <h2 *ngIf="id!==0 && !edit" class="title-label">VER POSTULANTE</h2>
      <h2 *ngIf="id!==0 && edit" class="title-label">EDITAR POSTULANTE</h2>
      <mat-divider></mat-divider>
      <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()" onKeyPress="if(event.keyCode == 13) event.returnValue = false;">
        <mat-stepper #stepper id="stepper" [selectedIndex]="currentTab" labelPosition="bottom">
            
          <mat-step>
            <ng-template matStepLabel>Datos principales</ng-template>
            <div *ngIf="muestraSangre && form.value['IdePersona']!==0" fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="80%" fxFlex.xs="100%" fxFlex.sm="80%">
                <mat-form-field appearance="outline">
                  <mat-label>Código</mat-label>
                  <input matInput placeholder="Código" formControlName="Codigo">
                </mat-form-field>
              </div>
              <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="20%">
                <mat-card style="margin-bottom: 1.34375em; text-align: center; background-color: {{colFondo}};">
                  <mat-card-title style="color: {{colLetra}}!important;">
                    {{abo}}
                  </mat-card-title>
                  <mat-card-subtitle style="color: {{colLetra}}!important;">
                    {{rh}}
                  </mat-card-subtitle>
                </mat-card>
              </div>
            </div>
            <div *ngIf="!muestraSangre || form.value['IdePersona']===0" fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                <mat-form-field appearance="outline">
                  <mat-label>Código</mat-label>
                  <input matInput placeholder="Código" formControlName="Codigo">
                </mat-form-field>
              </div>
            </div>
            
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="30%">
                <mat-form-field>
                  <mat-select [disabled]="id>0" placeholder="Tipo de documento" formControlName="TipDocu" required>
                    <mat-option *ngFor="let el of tbTipoDocu" [value]="el.codigo">
                      {{el.descripcion}}
                    </mat-option>              
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="70%">
                <mat-form-field appearance="outline">
                  <mat-label>Documento</mat-label>
                  <input #DOCUMENTO type="text" [readonly]="id>0" matInput placeholder="Documento" formControlName="NumDocu" minlength="1" maxlength="15" required (blur)="obtenerPersona($event)" (keydown)="obtenerPersonaEnter($event.keyCode)" >
                  <button *ngIf="DOCUMENTO.value && id===0" type="button" matSuffix mat-icon-button aria-label="Limpiar" (mouseup)="DOCUMENTO.value='';reiniciaPersona()">
                    <mat-icon>close</mat-icon>
                  </button>
                  <button *ngIf="DOCUMENTO.value && id===0" type="button" matSuffix mat-icon-button aria-label="Buscar" (mouseup)="obtenerPersona($event)">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput placeholder="Apellido Paterno" formControlName="ApPaterno" minlength="1" maxlength="100" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="Apellido Materno" formControlName="ApMaterno" minlength="1" maxlength="100" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nombres</mat-label>
              <input matInput placeholder="Nombres" formControlName="Nombres" minlength="1" maxlength="100" required>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Género" formControlName="Sexo" required>
                <mat-option *ngFor="let el of tbGenero" [value]="el.codigo">
                  {{el.descripcion}}
                </mat-option>              
              </mat-select>
            </mat-form-field>
            <div style="padding-top: 10px">
              <!--button style="float: left" mat-button matStepperPrevious type="button">Atrás</button-->
              <button style="float: right" mat-button matStepperNext type="button">Siguiente</button>
            </div>  
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Datos secundarios</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="FecNacimiento" [min]="minDate" [max]="maxDate" placeholder="dd/mm/aaaa" formControlName="FecNacimiento" required>
              <mat-datepicker-toggle matSuffix [for]="FecNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #FecNacimiento></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="País" formControlName="CodPais" (selectionChange)="changePais($event.value)">
                <mat-option *ngFor="let el of tbPais" [value]="el.codigo">
                  {{el.descripcion}}
                </mat-option>              
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="muestraDistrito" [color]="distritoColor" minlength="1" maxlength="100">
              <mat-label>Distrito</mat-label>
              <input #DISTRITO type="text" matInput [formControl]="controlDistritos" [matAutocomplete]="auto">
              <button *ngIf="DISTRITO.value" type="button" matSuffix mat-icon-button aria-label="Limpiar" (click)="DISTRITO.value=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarDistrito" (optionSelected)="changeDistrito($event)">
                <mat-option *ngFor="let el of filterDistritos | async" [value]="el">
                  {{el.dist!.descripcion}}, {{el.prov!.descripcion}}, {{el.dpto!.descripcion}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" minlength="1" maxlength="50">
              <mat-label>Celular</mat-label>
              <input matInput placeholder="ej. +51 999999999" formControlName="Celular">
            </mat-form-field>
            <mat-form-field appearance="outline" minlength="1" maxlength="50">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="ej. 9999999" formControlName="Telefono">
            </mat-form-field>
            <mat-form-field appearance="outline" minlength="1" maxlength="50">
              <mat-label>Correo</mat-label>
              <input type="email" matInput placeholder="ej. ejemplo@correo.com" formControlName="Correo">
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field *ngIf="tbOrigen.length > 0">
              <mat-select placeholder="Banco Origen" formControlName="IdeOrigen" required>
                <mat-option *ngFor="let el of tbOrigen" [value]="el.codigo">
                  {{el.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="tbCampana.length > 0">
              <mat-select placeholder="Campaña" formControlName="IdeCampania" required>
                <mat-option *ngFor="let el of tbCampana" [value]="el.codigo">
                  {{el.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Fecha</mat-label>
              <input matInput [matDatepicker]="Fecha" [min]="minDate" [max]="maxDate" placeholder="dd/mm/aaaa" formControlName="Fecha" required>
              <mat-datepicker-toggle matSuffix [for]="Fecha"></mat-datepicker-toggle>
              <mat-datepicker #Fecha></mat-datepicker>
            </mat-form-field>
            
            <div id="buttonsDonacion" fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" style="text-align: center;">
                <button [disabled]="!edit" *ngIf="!btnEstadoSel[0]" style="width: 75%; outline-style: auto;" type="button" mat-stroked-button color="primary" (click)="changeEstado(0)">{{textDono}}</button>
                <button [disabled]="!edit" *ngIf="btnEstadoSel[0]" style="width: 75%;" type="button" mat-flat-button color="primary" (click)="changeEstado(0)">{{textDono}}</button>
              </div>
              <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" style="text-align: center;">
                <button [disabled]="!edit" *ngIf="!btnEstadoSel[1]" style="width: 75%; outline-style: auto;" type="button" mat-stroked-button color="primary" (click)="changeEstado(1)">{{textNoDono}}</button>
                <button [disabled]="!edit" *ngIf="btnEstadoSel[1]" style="width: 75%;" type="button" mat-flat-button color="primary" (click)="changeEstado(1)">{{textNoDono}}</button>
              </div>              
            </div>
            <div style="padding-top: 10px">
              <button style="float: left" mat-button matStepperPrevious type="button">Atrás</button>
              <!--button style="float: right" mat-button matStepperNext type="button">Siguiente</button-->
            </div>
          </mat-step>
        </mat-stepper>
        <!--div>
          <button *ngIf="stepper.selectedIndex > 0" (click)="goBack(stepper)" type="button">Back</button>
          <button *ngIf="stepper.selectedIndex < 1" (click)="goForward(stepper)" type="button">Next</button>
        </div-->
      </form>
  </mat-card>    
</div>

