#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contenedor > .titlemodal {
    width: 70%;
  }


  :host zxing-scanner::ng-deep video {
    max-height: 50vh;    
    object-fit: contain;
}
