<mat-toolbar color="primary" class="example-toolbar submenu example-button">
    <div class="example-button-rowR">
      <button mat-stroked-button class="btnHeader" routerLink="/page/donante/aspirante">
        <mat-icon class="maticon">subdirectory_arrow_left</mat-icon>
      </button>
    </div>
    <div class="example-button-row">
      <button *ngIf="edit && permiso.guardar" mat-stroked-button class="btnHeader" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
        <mat-icon class="maticon">save</mat-icon>
      </button>
    </div>
</mat-toolbar>

<div class="container">  
<mat-card class="cardborde">   
  <mat-toolbar class="cardtitle"></mat-toolbar>

  <h2 *ngIf="id==0" class="title-label">CREAR CHEQUEO</h2>
  <h2 *ngIf="id!==0 && !edit" class="title-label">VER CHEQUEO</h2>
  <h2 *ngIf="id!==0 && edit" class="title-label">EDITAR CHEQUEO</h2>

  <mat-divider></mat-divider>
  
  <div id="content"> 
    <div style="width: 100%; float:left;margin-bottom: -17px;"> 
      <div style="text-align: center; color: #1a0da4; font-weight: 500;padding-top: 11px;">{{nombres}}</div> 
      <div style="text-align: center; color: #1a0da4; font-weight:600">{{documento}}</div> 
    </div> 
  </div>

  <br style="clear:both;"/>

  <form onkeydown="return event.key != 'Enter';" class="forms" id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">
    <mat-stepper labelPosition="bottom" #stepper>
      <mat-step>
        <ng-template matStepLabel>Datos 1 </ng-template>
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">  
                <div [hidden]="true">
                  <mat-form-field appearance="outline">
                       <input matInput placeholder="Id" formControlName="idePreDonante">
                  </mat-form-field>
                </div> 
                <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput formControlName="codigo" minlength="1" maxlength="15" (keyup.enter)="obtener($event)" required>
                    <button *ngIf="!btndisable" type="button" matSuffix mat-icon-button aria-label="Limpiar" (click)="limpiar()">
                      <mat-icon>close</mat-icon>
                    </button>
                    <button *ngIf="!btndisable" type="button" matSuffix mat-icon-button aria-label="Buscar" (click)="obtener($event)">
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Tipo Extracción</mat-label>
                  <input matInput formControlName="tipoExtraccion">
                </mat-form-field>
              </div>

              <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Peso (Kg)</mat-label>
                      <input matInput 
                        type="number" 
                        oninput="if(this.value.length>=6) { this.value = this.value.slice(0,6); }"
                        class="example-right-align" 
                        formControlName="pesoDonacion" 
                        placeholder="0.00"
                        onkeypress="return /[0-9|.]/i.test(event.key)"
                        (keyup.enter)="focus(tallaDonacion)">
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>  
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Talla (m)</mat-label>
                      <input matInput 
                      type="number" 
                      oninput="if(this.value.length>=4) { this.value = this.value.slice(0,4); }"
                      #tallaDonacion 
                      class="example-right-align" 
                      formControlName="tallaDonacion" 
                      placeholder="0.00"
                      onkeypress="return /[0-9|.]/i.test(event.key)"
                      (keyup.enter)="focus(presion1)">
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>              
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="45%" fxFlex.sm="45%">
                      <mat-label>Medida Sistólica (mm)</mat-label>
                      <input matInput 
                        type="number" 
                        oninput="if(this.value.length>=3) { this.value = this.value.slice(0,3); }"
                        #presion1 class="example-right-align" 
                        formControlName="presionArterial1" 
                        placeholder="0"
                        onkeypress="return /[0-9|.]/i.test(event.key)"
                        (keyup.enter)="focus(presion2)">
                    </mat-form-field>
                    <div style="font-size:37px;color:#921528;font-weight:500;"> /</div>
                    <mat-form-field appearance="outline" fxFlex="100%" fxFlex.xs="45%" fxFlex.sm="45%">
                      <mat-label>Medida Diastólica (Hg)</mat-label>
                      <input matInput 
                        type="number"
                        oninput="if(this.value.length>=3) { this.value = this.value.slice(0,3); }"
                        #presion2 
                        class="example-right-align" 
                        formControlName="presionArterial2" 
                        placeholder="0"
                        onkeypress="return /[0-9|.]/i.test(event.key)"
                        (keyup.enter)="focus(hemoglobina)">
                    </mat-form-field>                   
                  </mat-grid-tile>
                </mat-grid-list> 
              </div>

              <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Hemoglobina (g/dL)</mat-label>
                      <input matInput type="number" oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }" #hemoglobina class="example-right-align" formControlName="hemoglobina" placeholder="0.00" onkeypress="return /[0-9|.]/i.test(event.key)" (keyup.enter)="focus(hematocrito)">                    
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Hematocrito</mat-label>
                      <input matInput  type="number" oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }" #hematocrito class="example-right-align" formControlName="hematocrito" placeholder="0.00" onkeypress="return /[0-9|.]/i.test(event.key)" (keyup.enter)="focus(plaquetas)">
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>

              <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Plaquetas (mcL)</mat-label>
                      <input matInput  type="number" oninput="if(this.value.length>=6) { this.value = this.value.slice(0,6); }" #plaquetas class="example-right-align" formControlName="plaquetas" placeholder="0" onkeypress="return /[0-9|.]/i.test(event.key)" (keyup.enter)="focus(frecuenciaCardiaca)">
                    </mat-form-field>
                  </mat-grid-tile> 
                </mat-grid-list> 
                <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">                 
                  <mat-grid-tile [colspan]="12">
                    <mat-form-field appearance="outline">
                      <mat-label>Frec. Cardiaca (L/min)</mat-label>
                      <input matInput type="number" oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }" #frecuenciaCardiaca class="example-right-align" formControlName="frecuenciaCardiaca" placeholder="0" onkeypress="return /[0-9|.]/i.test(event.key)">
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>  
              </div>

          </div>
        </div>
        <div style="padding-top: 10px">
          <button class="btnnext" mat-button matStepperNext type="button">Siguiente</button>
        </div>  
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Datos 2</ng-template>
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-form-field appearance="outline">
                <mat-label>Grupo ABO</mat-label>
                <mat-select
                [disabled]="!edit"
                formControlName="ideGrupo">
                  <mat-option *ngFor="let c of listaGrupoSanguineo" [value]="c.codigo">
                   {{c.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Aspecto General</mat-label>
                <mat-select 
                [disabled]="!edit"
                formControlName="aspectoGeneral">
                  <mat-option *ngFor="let c of listaAspectoGeneral" [value]="c.codigo">
                   {{c.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Lesiones Area de Punción</mat-label>
                <mat-select 
                [disabled]="!edit"
                formControlName="lesionesVenas">
                  <mat-option *ngFor="let c of listaLesionesPuncion" [value]="c.codigo">
                   {{c.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>              
              <mat-form-field appearance="outline">
                <mat-label>Estado Venoso</mat-label>
                <mat-select 
                [disabled]="!edit"
                formControlName="estadoVenoso">
                  <mat-option *ngFor="let c of listaAspectoVenoso" [value]="c.codigo">
                   {{c.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Observaciones</mat-label>
                <input matInput #obsedrvaciones minlength="1" maxlength="5000" formControlName="obsedrvaciones" (keyup.enter)="focus(temperatura)">
              </mat-form-field>
              <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                <mat-grid-tile [colspan]="6">
                  <mat-form-field appearance="outline">
                    <mat-label>Temperatura °C</mat-label>
                    <input matInput type="number" oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }" #temperatura class="example-right-align" formControlName="temperatura" placeholder="0.00" onkeypress="return /[0-9|.]/i.test(event.key)" (keyup.enter)="focus(dFechaInicio)">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="6" style="top: -6px;">
                  <button [disabled]="!edit" *ngIf="CodEstado=='0' || CodEstado=='1'" style="font-size: 11px; width: 100%;" type="button" mat-stroked-button color="primary" (click)="changeestado('2')">NO APTO</button>
                  <button [disabled]="!edit" *ngIf="CodEstado=='2'" style="font-size: 11px; width: 100%;" type="button" mat-flat-button color="primary" (click)="changeestado('0')">NO APTO</button>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list *ngIf="CodEstado=='2'" cols="12" rowHeight="75px" gutterSize="15px">
                <mat-grid-tile [colspan]="12">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Motivo Rechazo</mat-label>
                    <input matInput
                           aria-label="State"
                           [matAutocomplete]="auto"
                           [formControl]="motivoRec"
                           >
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarMotivoRechazo" (optionSelected)="changeMotivoReachazo($event)">
                      <mat-option *ngFor="let c of listaMotivoRechazo | async" [value]="c">
                        {{c.descripcion}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
                <mat-grid-tile [colspan]="12">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Chequeo</mat-label>
                    <input matInput #dFechaInicio [matDatepicker]="dFechaIni" placeholder="dd/mm/yyyy" formControlName="fecha" required>
                    <mat-datepicker-toggle matSuffix [for]="dFechaIni"></mat-datepicker-toggle>
                    <mat-datepicker #dFechaIni></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </div>
          </div>
        </div>
        <div style="padding-top: 10px">
          <button class="btnprevio" mat-button matStepperPrevious type="button">Atrás</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</mat-card>
</div>