<h3 mat-dialog-title>BUSQUEDA</h3>

<mat-dialog-content class="modal">

  <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input [(ngModel)]="nombre" matInput placeholder="Búsqueda" #input (keyup.enter)="buscar()">
      <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Campaña</mat-label>
    <mat-select 
    [(ngModel)]="idcampania"
    (selectionChange)="selectcampania($event.value)"
    >
      <mat-option *ngFor="let el of listaCampania" [value]="el.codigo">{{el.descripcion}}</mat-option>  
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Origen</mat-label>
    <mat-select 
    [(ngModel)]="idorigen"
    (selectionChange)="selectorigen($event.value)"
    >
      <mat-option *ngFor="let el of listaOrigen" [value]="el.codigo">{{el.descripcion}}</mat-option>  
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Estado</mat-label>
    <mat-select 
    placeholder="Estado"
    [(ngModel)]="idestado"
    (selectionChange)="selectestado($event.value)"
    >
    <mat-option *ngFor="let el of listaEstado" [value]="el.codigo">{{el.descripcion}}</mat-option>  
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Fecha Inicio</mat-label>
    <input matInput [matDatepicker]="fechaInicio" placeholder="dd/mm/yyyy" [max]="fechaInicio" 
    [(ngModel)]="fechaSelectInicio"  (dateChange)="onDateChange()" [max]="fechaMax">
    <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
    <mat-datepicker #fechaInicio></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha Fin</mat-label>
    <input matInput [matDatepicker]="fechaFin" placeholder="dd/mm/yyyy" [max]="fechaFin" 
    [(ngModel)]="fechaSelectFin" (dateChange)="onDateChange()" [max]="fechaMax">
    <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
    <mat-datepicker #fechaFin></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<div class="btnModal" align="end">
  <button mat-stroked-button class="btnRed" mat-dialog-close><mat-icon>close</mat-icon>Cerrar</button> 
  <button mat-stroked-button class="btnYellow"(click)="limpiar()"><mat-icon>cleaning_services</mat-icon>Limpiar</button>
  <button mat-stroked-button class="btnBlue" (click)="buscar()"><mat-icon>search</mat-icon>Buscar</button>
</div>