<div mat-dialog-content>
  <p>¿Desea rechazar esta rendición?</p>
  <mat-form-field appearance="fill">
    <mat-label>Motivo de rechazo</mat-label>
    <textarea matInput [(ngModel)]="data.obsRevisor" required rows="5" maxlength="1000"></textarea>
  </mat-form-field>
</div>
<div class="example-button-row" style="padding-top: 0px; margin: auto;">
  <button mat-button color="primary" (click)="onNoClick()">No</button>
  <button mat-stroked-button color="accent" [mat-dialog-close]="data.obsRevisor" [disabled]="data.obsRevisor === ''">Sí</button>
</div>